.logo-container img,
.logo-container2:hover .roll-container2{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
.logo-container2 img{
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
}
.logo-container, .logo-container a, .logo-container img, .roll-container,
.logo-container2, .logo-container2 a, .logo-container2 img, .roll-container2{
    width: 50px;
    height: 50px;
}
.logo-container, .logo-container2 {
    position: fixed;
    top: 5%;
    left: 3%;
    animation-name: cant-hover;
    animation-fill-mode: forwards; 
    -webkit-animation-name: cant-hover;
    -webkit-animation-fill-mode: forwards;  
    -moz-animation-name: cant-hover;
    -moz-animation-fill-mode: forwards; 
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
}
.logo-container2{
    top: 89%;
}
@keyframes cant-hover {
    0%   {pointer-events: none;}
    100% {pointer-events: all;}
}
@-webkit-keyframes cant-hover {
    0%   {pointer-events: none;}
    100% {pointer-events: all;}
}
@-moz-keyframes cant-hover {
    0%   {pointer-events: none;}
    100% {pointer-events: all;}
}
.logo-container a, .logo-container2 a{
    display: block;
    position: relative;
    cursor: pointer;
}
.roll-container{
    position:relative;
    overflow: hidden;
    width:250px;;
    top:-50px;
    left:29px;
    pointer-events:none
}
.roll{
    position: absolute;
    z-index: -1;
    top:0px;
    color: white;
    left: -300px;
    background: linear-gradient(90deg, #6e76c0d2 0%, #6a0a86 100%);
    width: 100px;
    height: 23px;
    text-align: center;
    transition: 1s;
    margin: 0;
    padding: 0px;
    border-radius: 0px 25px 25px 0px;
    padding: 15px 10px 15px 10px;
    font-size: 20px;
    font-weight: 600;
}
.roll-container2 {
    width: 0px;
    height:0px;
    background-color: #6e76c03a ;
    position: absolute;
    bottom: 10px; 
    left:  10px; 
    overflow: hidden; 
    color: white;
    border-radius: 50px;
    z-index: -2;
    border: 0px solid #6e76c0;
}
.roll-container2 > div{
    width: 300px;
    height:300px;
    text-align:left;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 25px;
}
.roll2 {
    width: 300px;
    padding: 35px;
    margin: 0;
}
.logo-container2:hover .roll-container2 {
    animation-name: games_info;
    animation-fill-mode: forwards;
    -webkit-animation-name: games_info;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: games_info;
    -moz-animation-fill-mode: forwards;
}

@keyframes games_info {
    0%   {width: 0; height: 0;}
    100% {width: 300px; height: 300px; border: 1px solid #6e76c0;}
}
@-webkit-keyframes games_info {
    0%   {width: 0; height: 0;}
    100% {width: 300px; height: 300px; border: 1px solid #6e76c0;}
}
@-moz-keyframes games_info {
    0%   {width: 0; height: 0;}
    100% {width: 300px; height: 300px; border: 1px solid #6e76c0;}
}

.logo-container:hover .roll{
    left:0px;
    transition: 1s;
}
.logo-container img, .logo-container2 img{
    filter: brightness(0.8);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px #6e76c0d2;
    animation-name:logo_anim1;
    animation-timing-function: ease-in-out;
    -webkit-animation-name:logo_anim1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name:logo_anim1;
    -moz-animation-timing-function: ease-in-out;
    position: absolute;

}
@keyframes logo_anim1{
    0%   {transform: translateY(-100px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}
@-webkit-keyframes logo_anim1{
    0%   {transform: translateY(-100px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes logo_anim1{
    0%   {transform: translateY(-100px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}
.logo-container2 img{
    animation-name:logo_anim2;
    animation-timing-function: linear;
    -webkit-animation-name:logo_anim2;
    -webkit-animation-timing-function: linear;
    -moz-animation-name:logo_anim2;
    -moz-animation-timing-function:linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes logo_anim2{
    0%   { transform:scale(0) rotate(0deg); opacity: 0;}
    10%  { transform:scale(1) rotate(-10deg); opacity: 0.5;}
    20%  { transform:scale(1.2) rotate(-20deg); opacity: 1;}
    40%  { transform:scale(1.2) rotate(20deg); opacity: 1;}
    50%  { transform:scale(1) rotate(10deg); opacity: 1;}
    100% { transform:scale(1) rotate(0deg);  opacity: 1;}
}
@-webkit-keyframes logo_anim2{
    0%   { transform:scale(0) rotate(0deg); opacity: 0;}
    10%  { transform:scale(1) rotate(-10deg); opacity: 0.5;}
    20%  { transform:scale(1.2) rotate(-15deg); opacity: 1;}
    40%  { transform:scale(1.2) rotate(15deg); opacity: 1;}
    50%  { transform:scale(1) rotate(10deg); opacity: 1;}
    100% { transform:scale(1) rotate(0deg);  opacity: 1;}
}
@-moz-keyframes logo_anim2{
    0%   { transform:scale(0) rotate(0deg); opacity: 0;}
    10%  { transform:scale(1) rotate(-10deg); opacity: 0.5;}
    20%  { transform:scale(1.2) rotate(-15deg); opacity: 1;}
    40%  { transform:scale(1.2) rotate(15deg); opacity: 1;}
    50%  { transform:scale(1) rotate(10deg); opacity: 1;}
    100% { transform:scale(1) rotate(0deg);  opacity: 1;}
}